{% extends "base.html" %}
{% load static %}

{% block title %}
Vanessa Wingardh
{% endblock %}


{% block content %}

<!-- Socials - left -->
<div class="socials-div">
    <ul class="vstack gap-3 list-unstyled socials">
        <li>
            <a href="https://www.linkedin.com/in/vwingardh/"><i class="bi bi-linkedin"></i></a>
        </li>
        <li>
            <a href="https://github.com/vwingardh"><i class="bi bi-github"></i></a>
        </li>
        <li>
            <a href="mailto:vwingardh@gmail.com"><i class="bi bi-envelope"></i></a>
        </li>
    </ul>
    <div class="vl-socials"></div>
</div>

<!-- Email - right -->
<div class="email-div vstack">
    <div class="email"><a href="mailto:vwingardh@gmail.com">vwingardh@gmail.com</a></div>
</div>

<!-- Start of Intro -->
<div class="container pt-2 intro-container">
    <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-8">
            <h6 class="mb-1">Hello, my name is</h6>
            <h1 class="mb-3">Vanessa Wingårdh.</h1>
            <h3 class="mb-3">I build things with Python.</h3>
            <p class="mb-3">I am a python programmer and MBA postgraduate. I have a passion for programming and problem solving.</p>
            <a class="btn say-hej-btn" href="mailto:vwingardh@gmail.com" role="button">Say Hej!</a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <img class="img rounded-circle intro-img" src="{% static 'images/vanessa.png' %}" alt="resume photo">
        </div>
    </div>
<!-- End of Intro -->

<!-- Start of About Me -->
    <div id="about-me" class="row justify-content-center about-me-row">
        <div class="col-12 col-md-6 ps-md-4 col-lg-7 ps-lg-5 ">
            <h3 class="border-bottom" style="font-size: 30px;">0 about_me</h3>
            <div class="class-name"></div>
            <p>
                Hello, I'm an MBA and psychology postgraduate originally from the United States.
                I've been living in Sweden for almost 3 years and have grown to love the culture and
                people here. My curious nature and love for problem-solving led me to pursue a career
                in tech. I am especially passionate about programming in Python and am highly
                motivated to continue learning and expanding my skills in this area. I am always looking
                for new challenges and opportunities to grow, both professionally and personally.

            <br class="mb-3">
                Here are some of the technologies I have been working with recently:
            </p>

<!-- Tech Stack -->
            <div class="container ps-1 pe-0">
                <div class="row">
                    <ul class="col tech-left">
                        <li><i class="bi bi-chevron-double-right"></i>Python</li>
                        <li><i class="bi bi-chevron-double-right"></i>Java</li>
                        <li><i class="bi bi-chevron-double-right"></i>JavaScript</li>
                        <li><i class="bi bi-chevron-double-right"></i>HTML/CSS</li>
                    </ul>
                    <ul class="col tech-right">
                        <li><i class="bi bi-chevron-double-right"></i>Bootstrap</li>
                        <li><i class="bi bi-chevron-double-right"></i>Django</li>
                        <li><i class="bi bi-chevron-double-right"></i>PostgreSQL</li>
                        <li><i class="bi bi-chevron-double-right"></i>AWS</li>
                    </ul>
                </div>
            </div>
        </div>

<!-- JSON About Me -->
        <div class="col-12 ps-5 ms-sm-5 mt-4 col-md-6 ms-md-0 mt-md-2 ps-md-5 col-lg-5 about-me-json">
            <div class="bracket-orange">{</div>
            <div class="purple">"personality"
                <div class="magenta d-inline">:
                    <div class="green d-inline">&nbsp;[</div>
                </div>
            </div>
            <div class="blue">"lifelong learner"<div class="magenta d-inline">,</div></div>
            <div class="blue">"disciplined"<div class="magenta d-inline">,</div></div>
            <div class="blue">"curious"<div class="magenta d-inline">,</div></div>
            <div class="blue">"analytical"</div>
            <div class="bracket-green">]<div class="magenta d-inline">,</div></div>

            <div class="hobbies">
                <div class="purple">"hobbies"
                    <div class="magenta d-inline">:
                        <div class="green d-inline">&nbsp;[</div>
                    </div>
                </div>
                <div class="blue">"gaming"<div class="magenta d-inline">,</div></div>
                <div class="blue">"hiking"<div class="magenta d-inline">,</div></div>
                <div class="blue">"reading"<div class="magenta d-inline">,</div></div>
                <div class="blue">"diving"<div class="magenta d-inline">,</div></div>
                <div class="blue">"puzzels"<div class="magenta d-inline">,</div></div>
                <div class="blue">"exercising"</div>
                <div class="bracket-green">]<div class="magenta d-inline">,</div></div>
            </div>

            <div class="languages">
                <div class="purple">"languages"
                    <div class="magenta d-inline">:
                        <div class="green d-inline">&nbsp;{</div>
                    </div>
                </div>
                <div class="blue">"english"<div class="magenta d-inline">: </div> &nbsp;"native"<div class="magenta d-inline">,</div></div>
                <div class="blue">"swedish"<div class="magenta d-inline">: </div> &nbsp;"intermediate"</div>
                <div class="bracket-green">}</div>
                <div class="bracket-orange">}</div>
            </div>
        </div>
    </div>
</div>
<!-- End of About Me -->


<!-- Start of Projects -->
<!-- Coffio Website Project -->
<h3 class="project-header border-bottom">1 featured_projects</h3>
<div id="projects" class="container projects-container">
    <div class="row">

        <div class="col-sm-5 col-md-6 ps-md-4 ps-lg-5">
            <img src="{% static 'images/coffio-webpage.png' %}" class="card-img-top rounded-3" alt="coffio website">
        </div>

        <div class="col-sm-7 col-md-6">
            <div class="featured-project">Featured Project</div>

            <h4 class="project-name">Coffio E-Commerce Website</h4>

            <div class="row mt-1 git-web">
                <div class="col-1 git-web">
                    <a href="https://github.com/vwingardh/Coffio">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="col-1 git-web">
                    <a href="https://vwingardh.pythonanywhere.com/">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
            </div>
            <div class="project-description">
                Coffio is an e-commerce website designed to be responsive and dynamic.
                Utilizes PostgreSQL for user accounts, product inventory and content management.
                Offers features such as creating user accounts, saving products/blog posts to favorites,
                writing product reviews, updating profile details, viewing orders, and
                purchasing products through Stripe API.
            </div>

            <div class="tech-stack">Technologies used:</div>
            <div class="row text-end tech-row">
                <div class="col">
                    <div>Python</div>
                </div>
                <div class="col">
                    <div>JavaScript</div>
                </div>
                <div class="col">
                    <div>Django</div>
                </div>
            </div>
            <div class="row text-end tech-row">
                <div class="col">
                    <div>Bootstrap</div>
                </div>
                <div class="col">
                    <div>PostgreSQL</div>
                </div>
                <div class="col text-nowrap">
                    <div>Stripe API</div>
                </div>
            </div>
        </div>
    </div>


<!-- Tubble Project -->
    <div class="row pt-5 bucket-row flex-row-reverse">

        <div class="col-sm-5 col-md-6 pe-md-4 pe-lg-5">
            <img src="{% static 'images/tubble-p.png' %}" class="card-img-top rounded-3" alt="tubble website">
        </div>

        <div class="col-sm-7 col-md-6">
            <div class="left featured-project">Featured Project</div>

            <h4 class="left project-name">Tubble Digital Bucket List</h4>

            <div class="row mt-1 git-web-left">
                <div class="col-1 me-2">
                    <a href="https://www.tubble.me/">
                        <i class="bi bi-box-arrow-up-left"></i>
                    </a>
                </div>
                <div class="col-1">
                    <a href="https://github.com/vwingardh/tubble">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
            <div class="left-pr project-description">
                Tubble is a travel bucket list app that enables users to create, save, and track destinations.
                It offers features such as creating user accounts, the ability to save blog posts to favorites, write blog comments,
                a REST API, profile management, viewing other users' profiles, and destination filtering capabilities.
            </div>

            <div class="tech-stack left">Technologies used:</div>
            <div class="row text-start tech-row left">
                <div class="col">
                    <div>Python</div>
                </div>
                <div class="col">
                    <div>Django</div>
                </div>
                <div class="col">
                    <div>Django REST</div>
                </div>
            </div>
            <div class="row text-start tech-row left">
                <div class="col">
                    <div>Bootstrap</div>
                </div>
                <div class="col">
                    <div>PostgreSQL</div>
                </div>
                <div class="col">
                    <div>PythonAnywhere</div>
                </div>
            </div>
        </div>
    </div>


<!-- Passport Bot Project -->
    <div class="row pt-5 passport-row">

        <div class="col-sm-5 col-md-6 ps-md-4 ps-lg-5">
            <img src="{% static 'images/twilio.png' %}" class="card-img-top rounded-3" alt="twilio preview">
        </div>

        <div class="col-sm-7 col-md-6">
            <div class="featured-project">Featured Project</div>

            <h4 class="project-name">Passport Bot</h4>

            <div class="row mt-1 git-web">
                <div class="col-1 git-web">
                    <a href="https://github.com/vwingardh/PassportAppointmentBot">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
            <div class="project-description">
                A web scraper that checks appointment availability at the Stockholm US Embassy.
                Set to run every hour, sends SMS notifications via Twilio API.
                Successfully scheduled an appointment 4 months in advance.
            </div>

            <div class="tech-stack">Technologies used:</div>
            <div class="row text-end tech-row">
                <div class="col">
                    <div>Python</div>
                </div>
                <div class="col">
                    <div>Selenium</div>
                </div>
                <div class="col text-nowrap">
                    <div>Twilio API</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Projects -->

<!-- Start of Certificates -->
<div id="certificates" class="d-flex flex-row justify-content-center">
    <div class="p-2"><h3 class="certificate-header ms-4 text-center text-nowrap">2 certificates</h3></div>
    <div class="p-2"><a class="btn view-resume-button text-nowrap" href="{% url 'website:resume-page' %}">View Resume</a></div>
</div>

<div class="container">
    <div class="d-flex cert">
        <div class="nav flex-column nav-pills me-3 cert-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active cert-nav-link" id="v-pills-python-tab" data-bs-toggle="pill" data-bs-target="#v-pills-python" type="button" role="tab" aria-controls="v-pills-python" aria-selected="false">Python</button>
            <button class="nav-link cert-nav-link" id="v-pills-java-tab" data-bs-toggle="pill" data-bs-target="#v-pills-java" type="button" role="tab" aria-controls="v-pills-java" aria-selected="false">Java</button>
            <button class="nav-link cert-nav-link" id="v-pills-aws-tab" data-bs-toggle="pill" data-bs-target="#v-pills-aws" type="button" role="tab" aria-controls="v-pills-aws" aria-selected="true">AWS-Python</button>
            <button class="nav-link cert-nav-link" id="v-pills-devops-tab" data-bs-toggle="pill" data-bs-target="#v-pills-devops" type="button" role="tab" aria-controls="v-pills-devops" aria-selected="true">AWS-DevOps</button>
            <button class="nav-link cert-nav-link" id="v-pills-html-tab" data-bs-toggle="pill" data-bs-target="#v-pills-html" type="button" role="tab" aria-controls="v-pills-html" aria-selected="false">HTML/CSS/JS</button>
            <button class="nav-link cert-nav-link" id="v-pills-gd-tab" data-bs-toggle="pill" data-bs-target="#v-pills-gd" type="button" role="tab" aria-controls="v-pills-gd" aria-selected="false">Google Data</button>
        </div>

        <div class="d-flex" style="height: 200px;">
            <div class="vr vr-cert"></div>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-python" role="tabpanel" aria-labelledby="v-pills-python-tab">
                <ul>
                    <li class="cert-header">Python for Everybody Specialization</li>
                    <li class="cert-completion">February 16, 2022</li>
                    <ul class="cert-details">
                        <li>Python Data Structures</li>
                        <li>Using Python to Access Web Data</li>
                        <li>Using Databases with Python</li>
                        <li>Retrieving, Processing, and Visualizing Data with Python</li>
                    </ul>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-java" role="tabpanel" aria-labelledby="v-pills-java-tab">
                <ul>
                    <li class="cert-header">Introduction to Object-Oriented Programming with Java</li>
                    <li class="cert-completion">April 10, 2022</li>
                    <ul class="cert-details">
                        <li>Fundamentals of the Java Language</li>
                        <li>Applying Object-Oriented Programming to Java</li>
                        <li>Database Connectivity with Java</li>
                    </ul>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-aws" role="tabpanel" aria-labelledby="v-pills-aws-tab">
                <ul>
                    <li class="cert-header">Modern Application Development with Python on AWS</li>
                    <li class="cert-completion">May 31, 2022</li>
                    <ul class="cert-details">
                        <li>AWS Cloud Technical Essentials</li>
                        <li>Building Mordern Python Applications</li>
                        <li>Amazon DynamoDB: Building NoSQL Database-Driven Applications</li>
                        <li>Improve Python Code Using Amazon CodeGuru</li>
                    </ul>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-devops" role="tabpanel" aria-labelledby="v-pills-devops-tab">
                <ul>
                    <li class="cert-header">DevOps on AWS</li>
                    <li class="cert-completion">July 4, 2022</li>
                    <ul class="cert-details">
                        <li>AWS Cloud Technical Essentials</li>
                        <li>Code, Build, and Test</li>
                        <li>Release and Deploy</li>
                        <li>Operate and Monitor</li>
                    </ul>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-html" role="tabpanel" aria-labelledby="v-pills-html-tab">
                <ul>
                    <li class="cert-header">Programming Foundations with JavaScript, HTML, and CSS</li>
                    <li class="cert-completion">April 1, 2022</li>
                    <ul class="cert-details">
                        <li>Introduction to HTML5</li>
                        <li>Introduction to CSS3</li>
                        <li>Interactivity with JavaScript</li>
                    </ul>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-gd" role="tabpanel" aria-labelledby="v-pills-gd-tab">
                <ul>
                    <li class="cert-header">Google Data Analytics</li>
                    <li class="cert-completion">January 26, 2022</li>
                    <ul class="cert-details">
                        <li>Processing Data</li>
                        <li>Visualizing Data</li>
                        <li>Data Analysis with R Programming</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Certificates -->

<!-- Contact -->
<div id="contact" class="container contact-container">
    <h3 class="contact-header">3 What's Next?</h3>
    <h6 class="touch-header">Get in Touch!</h6>
    <p class="contact-details">
        I am currently looking for opportunities in Stockholm, Sweden.
        Whether you have a question or just want to say hi,
        please feel free to send an email!
    </p>
    <a class="btn" href="mailto:vwingardh@gmail.com">Say Hej!</a>
</div>

{% endblock %}
